*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(248, 224, 211);
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  font-family: "Courier New", monospace;
  margin: 0.6em auto;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: rgb(200, 167, 149);
  width: 100%;
  max-width: 600px;
  padding: 0.2em;
  border-radius: 10px;
}

.red-letter {
  color: red;
}

.menu-recipes {
  margin: 1em;
  font-size: 20px;
}

.main-content {
  background-color: rgb(147, 124, 112);
  margin: 3em auto;
  padding: 3em;
  border-radius: 20px;
  color: white;
  max-width: 600px;
}

h2,
h3,
p {
  margin: 1em;
}

h2 {
  text-align: center;
  font-size: 30px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  border-radius: 20px;
  border: 8px solid rgb(147, 124, 112);
}
